// Text properties
h1 {
  font-size: 42px;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

// Navigation bar
nav {
  position: sticky;
  top: 0;
  padding: 10px;
  align-items: center;

  ul {
    max-width: 70%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .active {
    color: red;
  }
}

// Hero section 
.hero {
  // Source of background image
  background-image: url("./img/bg-home.jpg");

  // Background image properties
  // Makes it so that the home section covers the entire height of the window/screen
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;

  // Text properties
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

// About section
.about {
  max-width: 70%;
  margin: 0 auto;

  // Placeholder values for now
  // TODO: Style image so that it resizes based on screen size
  .about-image {
    height: 15%;
    width: 15%;
  }
}

// Resume section
.resume {
  max-width: 70%;
  margin: 0 auto;

  .edu-name {
    text-align: left;
    display: inline-block;
    font-weight: bold;
    width: 50%;
  }

  .edu-date {
    text-align: right;
    display: inline-block;
    width: 50%;
  }
}

// Contact section
.contact {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}