// Text properties
h1 {
  font-size: 42px;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

// Navigation bar
nav {
  position: sticky;
  top: 0;
  padding: 10px;
  align-items: center;
  background-color: white;

  ul {
    max-width: 70%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li { cursor: pointer; } // Cursor turns into pointer when hovering over navbar link
  }

  .active { color: red; } //Changes text color in navbar when page is on specific element
}

// Hero section 
.hero {
  background-image: url("./img/bg-home.jpg"); // Source of background image

  // Background image properties
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; // Vertically and horizontally centers image in hero element
  height: 100vh; // Hero section covers entire height of device window/screen

  // Text properties
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

// About section
.about {
  max-width: 70%;
  margin: 0 auto;

  // Placeholder values for now
  // TODO: Style image so that it resizes based on screen size
  .about-image {
    height: 15%;
    width: 15%;
    float: left;
    padding: 5px;
  }
}

// Resume section
.resume {
  max-width: 70%;
  margin: 0 auto;

  .resume-card {
    border-style: solid;
    border-radius: 12px;
    padding: 5px;
  }

  .name {
    text-align: left;
    display: inline-block;
    font-weight: bold;
    width: 50%;
  }

  .date {
    text-align: right;
    display: inline-block;
    width: 50%;
  }
}

// Contact section
.contact {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}